<html>
    <head>
        <title>Use options to customize the Survey Editor, Survey Builder Example</title>
        <link href="css/surveyeditor.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="css/bootstrap.min.css">

    </head>
    <body>
        <div id="surveyContainer">
          <div id="editorElement"></div>
          <div class="center">
            <button type="button" class="btn btn-primary" onclick="save();">
              <span data-bind="text: title">Salvar Pesquisa</span>
            </button>
          </div>
        </div>

        <script src="js/knockout.js"></script>
        <script src="js/survey-knockout.js"></script>
        <script src="js/ace.min.js"></script>
        <script src="js/ext-language_tools.js"></script>
        <script src="js/surveyeditor.js"></script>
        <script src="js/new.js"></script>

    </body>
</html>